.reach-section .main-heading {
    color: white;
}

.reach-section {
    margin-top: 24px;
    background-color: #181715e7;
    padding-bottom: 24px;
}
.reach-info-grid {
    display: flex;
    justify-content: space-around;
}

.reach-info {
    border: 1px solid green;
    padding: 24px;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
    color: white;
    min-width: 350px;
}

.reach-info p:first-child { 
    margin-bottom: 18px;
    font-size: 36px;
    border-bottom: 3px solid gold;
}
.subscribe{
    margin-left: 3%;
    text-align: center;
    
}
.subscribe-email{
    margin-right: 1%;
    height: 20px;

}
.subscribe button{
    height: 25px;
    background-color:bisque;
    padding: 0px 7px;
  
}
